<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="fahim.chowdhury" />
		<!-- Date: 2013-02-27 -->
	</head>
	<body>
		<ul id="about">
			<li>
				<p id="aboutMe">
					I'm a 25 year old self-taught Swedish Visual Designer, currently in New York at R/GA. I recently graduated from the Digital Media program at Hyper Island.
				</p>
				<p class="title">
					Experience
				</p>
				<p id="aboutExperience">R/GA<br />
Period: November 2011 - Present<br />
Role: Visual Design Intern<br />
 <br />
Hyper Island<br />
Karlskrona<br />
Period: August 2010 - June 2012<br />
Program: Digital Media<br />
 <br />
MrCurrent AB<br />
Period: June 2004 - Present<br />
Role: Freelance designer<br />
 <br />
Svenska Spel<br />
Visby<br />
Period: June 2008 - September 2009<br />
Role: Designer</p>
			</li>
			<li>
				<p class="title">
					Testimonials
				</p>
				<p id="testimonialCopy">“Erik is an excellent designer and I am very satisfied with the results from his work for our website. Erik has a great capacity, is very efficient and understand his clients' requirements perfectly. I highly recommend him.”
Isabelle Sjövall, Creative Director, Stargo
 
 
"[...] Summing-up Erik is already today remarkably high competent in the field of design, both when it comes to form language and underlying technical knowledge.
To this must be added his open mind versus new knowledge and new ideas, his ability to learn quickly and his way not only to function in a group but also to contribute with new energy.
 
If Svenska Spel had the opportunity we would employ Erik without hesitation.
We can’t but congratulate the company who will take advantage of Erik’s work."
Jerker Nilsson, Head of Digital Production, Svenska Spel
 
Full testimonial is available upon request.
 
 
“Erik is a highly enthusiastic guy who really knows his stuff. He works hard and have great knowledge within web design. He is loyal and strive to come close to perfection no matter what the task is. I would love to recommend him to any given employer.”
Marcus Hultin, Project Manager Sportbetting, Svenska Spel
 
 
“Erik is a very talented and creative designer whom I worked with at Svenska Spel. Erik has a very creative mind and always completes his projects on time. I would recommend anyone hiring or working with Erik at anytime.”
Andreas Ahlenius, Search and Affiliate Manager, Svenska Spel
 
</p>
			</li>
			<li class="clearBoth"></li>
		</ul>
	</body>
</html>

