<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="fahim.chowdhury" />
		<!-- Date: 2013-02-27 -->
	</head>
	<body>
		<div class="header">
			<ul>
				<li class="logo">JULIAN MARTINEZ</li>
				<li class="nav">
					<ul>
						<li><a href="index.html" target="_self">WORK</a></li>
						<li><a href="about.html" target="_self">ABOUT</a></li>
						<li><a href="mailto:xxx@xx.com" target="_self">EMAIL</a></li>
						<li><a href="http://www.linkedin.com/home" target="_self">LINKEDIN</a></li>
					</ul>
				</li>
			</ul>
			<hr />
		</div>
	</body>
</html>

