<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="fahim.chowdhury" />
		<!-- Date: 2013-02-27 -->
	</head>
	<body>
		<ul id="project">
			<li class="desc">
				<h1 id="workTitle"></h1>
				<h2 id="workSubTitle"></h2>
				<p id="workCopy"></p>
			</li>
			<li class="about">
				<p class="heading">
					Client
				</p>
				<p id="workClient">
				
				</p>
				<p class="heading">
					Agency
				</p>
				<p id="workAgency">
					
				</p>
				<p class="heading">
					Honours
				</p>
				<p id="workHonours">
					
				</p>
			</li>
			<li class="workImageHolder">
				<img id="workImage" src="">
			</li>
		</ul>
	</body>
</html>

